<div id="beer-list">
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Beer 1</td>
        <td>zaraza</td>
        <td>cara</td>
        <td>jaaa</td>
      </tr>
      <tr>
        <td>Beer 2</td>
        <td>zaraza</td>
        <td>maso</td>
        <td>jaaa</td>
      </tr>
      <tr>
        <td>Beer 3</td>
        <td>zaraza</td>
        <td>barata</td>
        <td>jaaa</td>
      </tr>
    </tbody>
  </table>
</div>
